# Backend Configuration
DB_USERNAME=root
DB_PASSWORD=826001
JWT_SECRET=64576a5353c4ce106dee9e11be66e32c689eb26485e1372c4b1e7c92ac64a4424b58bac97423b32754033980c858f7c3f5297d9f18d0023bcad52d9c5688625b
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000
GOOGLE_CLIENT_ID=213575917380-fotrncsehehgq6pfm2r7k4q5k8tesjs8.apps.googleusercontent.com

# Cloudinary Configuration (for Image Uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=951838951614117
CLOUDINARY_API_SECRET=humEVQzDwnq2NxZjJfnZ0wRvChY

# App Settings
RESET_ADMIN_PASSWORD=false
REFRESH_COOKIE_SECURE=true
REFRESH_COOKIE_SAME_SITE=Lax

# Frontend Configuration (Vite)
VITE_API_BASE_URL=http://localhost:8080/api
VITE_GOOGLE_CLIENT_ID=213575917380-fotrncsehehgq6pfm2r7k4q5k8tesjs8.apps.googleusercontent.com
